<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" class="expense-form">
  <mat-form-field appearance="outline">
    <mat-label>Tên khoản mục</mat-label>
    <input
      matInput
      formControlName="name"
      placeholder="Nhập tên khoản mục"
      (keydown.enter)="onSubmit()"
    />
    <mat-error *ngIf="expenseForm.get('name')?.hasError('required')">
      Vui lòng nhập tên khoản mục
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Số tiền</mat-label>
    <input
      matInput
      type="text"
      inputmode="numeric"
      formControlName="amount"
      placeholder="Nhập số tiền"
      appThousandSeparator
      (keydown.enter)="onSubmit()"
    />
    <mat-error *ngIf="expenseForm.get('amount')?.hasError('required')">
      Vui lòng nhập số tiền
    </mat-error>
    <mat-error *ngIf="expenseForm.get('amount')?.hasError('min')">
      Số tiền phải lớn hơn 0
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    aria-label="submit"
    [disabled]="!expenseForm.valid"
  >
    Thêm khoản mục
  </button>
</form>

<div class="table-scroll" *ngIf="expenses$ | async as expenses">
  <table mat-table [dataSource]="expenses$" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef scope="col">Tên khoản mục</th>
      <td mat-cell *matCellDef="let expense">
        <div class="flex items-baseline">
          <div class="w-max">{{expense.name}}</div>
          <button
            mat-icon-button
            color="primary"
            aria-label="edit"
            (click)="updateExpenseName(expense)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Total Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef scope="col">Tiền</th>
      <td mat-cell *matCellDef="let expense">
        <div class="flex items-baseline justify-end">
          <div class="w-max">
            {{expense.amount | currency: 'VND': 'symbol' : '1.0-0' : 'vi'}}
          </div>
          <button
            mat-icon-button
            color="primary"
            aria-label="edit"
            (click)="updateExpenseAmount(expense)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef scope="col"></th>
      <td mat-cell *matCellDef="let expense">
        <button
          mat-icon-button
          color="warn"
          aria-label="delete"
          (click)="removeExpense(expense.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
