:host {
  display: block;
}

.bank-select {
  width: 100%;
}

.bank-info {
  display: flex;
  align-items: center;
  padding: 8px 0;

  .bank-name {
    flex: 1;
    padding-left: 12px;
    font-weight: 500;
    color: var(--text-primary);
  }
}
