<mat-form-field class="bank-select">
  <mat-label>{{ label }}</mat-label>
  <mat-select [formControl]="selectCtrl">
    <mat-option>
      <ngx-mat-select-search
        [formControl]="filterCtrl"
        placeholderLabel="Nhập mã hoặc tên để tìm kiếm"
        noEntriesFoundLabel="Không tìm thấy ngân hàng phù hợp"
      ></ngx-mat-select-search>
    </mat-option>
    @for (bank of filteredBanks | async; track bank.bin) {
    <mat-option [value]="valueField === 'bin' ? bank.bin : bank.code">
      <div class="bank-info">
        <img [src]="bank.logo" width="70" [alt]="bank.short_name" />
        <span class="bank-name">{{ bank.label }}</span>
      </div>
    </mat-option>
    }
  </mat-select>
</mat-form-field>
