<div class="bill-splitter-container">
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Tên hóa đơn</mat-label>
        <input
          matInput
          [formControl]="nameCtrl"
          placeholder="Tên hóa đơn, cửa hàng, quán ăn..."
        />
      </mat-form-field>
      <mat-tab-group #tabGroup mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab>
          <ng-template mat-tab-label>
            <h2 class="mat-tab-label">
              <span class="label">Khoản mục</span>
              <mat-icon class="icon">receipt</mat-icon>
            </h2>
          </ng-template>
          <div class="expense-form">
            <app-expense-form></app-expense-form>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <h2 class="mat-tab-label">
              <span class="label">Thành viên</span>
              <mat-icon class="icon">groups</mat-icon>
            </h2>
          </ng-template>
          <div class="member-table">
            <app-member-table></app-member-table>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <h2 class="mat-tab-label">
              <span class="label">Thanh toán</span>
              <mat-icon class="icon">credit_card</mat-icon>
            </h2>
          </ng-template>
          <div class="payment">
            <app-payment></app-payment>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  <app-result-display></app-result-display>
  <app-bank></app-bank>
  <div class="buttons flex flex-col gap-4 fixed bottom-7 right-7">
    <!-- Sticky Share Button -->
    <button
      mat-fab
      color="primary"
      class="share-button"
      aria-label="Button share"
      [ngClass]="{'share-button__syncing': (isSaving$ | async)}"
      [disabled]="(isSaving$ | async)"
      (click)="save(true)"
    >
      <mat-icon>{{(isSaving$ | async) ? 'sync' : 'share'}}</mat-icon>
    </button>
    <!-- Sticky Auto Save Button -->
    <button
      mat-fab
      color="primary"
      class="auto-save-button"
      aria-label="Button save"
      (click)="save()"
    >
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </div>
</div>
