.payment-form {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: flex-start;
  flex-wrap: wrap;

  .select-bank {
    width: 100%;
    .ng-dropdown-panel {
      position: static;
    }
  }

  .account-number, .account-name {
    flex: 1;
  }
}

.bank-info {
  display: flex;
  align-items: center;
  .bank-name {
    flex: 1;
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .payment-form {
    flex-direction: column;
    gap: 8px;

    .select-bank,
    .account-name,
    .account-number {
      width: 100%;
      flex: 1;
    }
  }
}
