<h2 mat-dialog-title>{{ label }}</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" subscriptSizing="dynamic" class="flat-field w-full">
    @if (type === 'amount') {
      <input matInput type="text" class="mono-amount" appThousandSeparator [(ngModel)]="value" />
    }
    @if (type === 'number') {
      <input matInput type="number" class="mono-amount" [(ngModel)]="value" />
    }
    @if (type === 'text') {
      <input matInput type="text" [(ngModel)]="value" />
    }
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button aria-label="cancel" (click)="cancel()">Hủy</button>
  <button mat-raised-button color="primary" aria-label="save" (click)="save()">Lưu</button>
</mat-dialog-actions>
