<mat-card class="container">
  <div class="content">
    <div class="left">
      <div class="flex items-baseline justify-between">
        <h2>Thông tin ngân hàng</h2>
        <button
          mat-icon-button
          aria-label="settings"
          (click)="onSettingClick()"
        >
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <p>
        <strong>Ngân hàng: </strong
        ><span>{{ bankInfo.short_name }} - {{ bankInfo.name }}</span>
      </p>
      <p><strong>Họ & tên: </strong><span>{{ bankInfo.accountName }}</span></p>
      <p>
        <strong>Số tài khoản: </strong><span>{{ bankInfo.accountNumber }}</span>
        <button
          class="copy-btn"
          (click)="onCopyAccountNumber($event)"
          title="Copy account number"
          aria-label="Copy account number"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </p>
    </div>
    <div class="right">
      <img
        [src]="qrCodeUrl"
        width="250px"
        height="250px"
        alt="QR Code chuyển khoản"
      />
    </div>
  </div>
</mat-card>
